<app-navbar></app-navbar>
<div class="columns">
  <div class="column">
    <h1 class="cl1">Descoperă designeri</h1>
    <p>Căutare și conectare cu designeri talentați: Acest site de portofolii oferă o platformă unde clienții pot căuta și găsi designeri talentați în diverse domenii, cum ar fi design grafic, design de produs sau design de interfață. Utilizatorii pot filtra rezultatele în funcție de abilități, experiență sau recenzii ale altor clienți.</p>
  </div>
  <div class="column">
    <h1 class="cl1">Explorează portofoliile</h1>
    <p>Afisarea portofoliilor de către designeri: Designerii pot încărca și afișa portofoliile lor pe site, prezentându-și munca și abilitățile într-un mod profesional. Aceasta oferă clienților oportunitatea de a vedea proiectele anterioare ale designerilor și de a lua decizii informate atunci când își aleg partenerul potrivit.</p>
  </div>
  <div class="column">
    <h1 class="cl1">Oferă feedback</h1>
    <p>Oferirea de recenzii și feedback: Site-ul permite clienților să ofere recenzii și feedback designerilor cu care au colaborat. Aceasta ajută la construirea unei comunități transparente și de încredere, în care designerii pot primi recunoaștere pentru munca lor de calitate și pot obține feedback constructiv pentru a-și îmbunătăți abilitățile.</p>
  </div>
</div>



